pip install "numpy<2"
pip install pandas
pip install opencv
pip install insightface tqdm scikit-learn
pip install onnxruntime-silicon
pip install scenedetect
pip install google-genai
pip install openpyxl
pip install pymilvus
pip install psycopg2-binary
pip install "sentence-transformers[torch]"
pip install boto3
